<div class="panel panel-primary"  [routerLink]="['/movie', movieItem.id ]" style="cursor: pointer;">
  <div class="panel-heading" style="height: 40px;">
   
    <div class="col-sm-9" >
        {{movieItem.name}}
    </div>
    <div class="col-sm-3" style="direction: rtl;">
        {{movieItem.datePersian}}
      </div>
    </div>
  <div class="panel-body">

      <div class="col-sm-4">
          
          <img src="{{movieItem.imgUrl}} " class="img-circle img-responsive"  alt="">        
         </div>
         <div class="col-sm-8">
            {{movieItem.description}}
         </div>
    
  </div>
</div>